{% extends "medic_app/customer.html" %}

{% block title %}
New Stock Item
{% endblock %}

{% block body %}
<style>
table {
    width:100%;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}
table#t01 tr:nth-child(even) {
    background-color: #eee;
}
table#t01 tr:nth-child(odd) {
   background-color:#fff;
}
table#t01 th {
    background-color: black;
    color: white;
}
</style>
<center>
<br>
<u><h1>Doctors</h1></u>
{% for doctor in doctors %}
<div class="w3-container">

  <div class="w3-card-4 w3-white" style="width:20%">
    	<center><header class="w3-container w3-green">
		<h2>{{ doctor.1 }}</h2>
    	</header>
    <div class="w3-container">
	<br>
	<img src="/static/doctor.png" alt="doctor" style="width:200px;height:200px;">
	<h4><br><strong>Doctor ID</strong>:&nbsp{{ doctor.0 }}<br>
	<br><strong>Specialization</strong>:&nbsp{{ doctor.2 }}<br>
	<br><strong>Contact Information</strong>:&nbsp{{ doctor.3 }}<br><h4>
   </div>
  </div>
</div>
<br>
<br>
{% endfor %}
</center>
{% endblock %}





