{% extends "medic_app/admin.html" %}

{% block title %}
New Stock Item
{% endblock %}

{% block body %}
<style>
table {
    width:100%;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}
table#t01 tr:nth-child(even) {
    background-color: #eee;
}
table#t01 tr:nth-child(odd) {
   background-color:#fff;
}
table#t01 th {
    background-color: black;
    color: white;
}
</style>
<center>
<br>
<h2>Records in Medicines' Table</h2>
<br>
<div>
	<table id="t01">
	<tr>
	    	<th>Medicine ID</th>
	    	<th>Name</th> 
	    	<th>Sale Information</th>
	    	<th>Shelf-Life</th>
		<th>Price</th>
		<th>Prescription Required</th>
		<th>Company Name</th>
		<th>Recomended Dosage</th>
	</tr>
{% for medicine in medicines %}
	<tr>
		<td>{{medicine.0}}</td>
		<td>{{medicine.1}}</td>
		<td>{{medicine.2}}</td>
		<td>{{medicine.3}}</td>
		<td>{{medicine.4}}</td>
		<td>{{medicine.5}}</td>
		<td>{{medicine.6}}</td>
		<td>{{medicine.7}}</td>
	</tr>
{% endfor %}
	</table>
<br>
<br>
</div>
</center>
<div>
	<center>
	<br>
	<h2>Enter the ID of the medicine to delete it from the database : </h2>
	<br>	
	<form id="med_del" action="" method="post">
	{% csrf_token %}
		<label for="id">Medicine ID</label>
		<input type="text" id="id" name="id" placeholder="Medicine ID..."><br>
		<input type="submit" value="Delete" form="med_del">
	</form>
	</center>
</div>
{% endblock %}
