{% extends "medic_app/admin.html" %}

{% block title %}
Sale Details
{% endblock %}

{% block body %}

<center><h3>Enter new Sale Details.</h3></center>

<div>
	<center>
	<form id="sd_form" action="" method="post">
	{% csrf_token %}
		<label for="smid">Medicine ID</label><br>
		<input type="text" id="smid" name="smid" placeholder="Enter the medicine ID.."><br><br>

 		<label for="squan">Quantity</label><br>
    		<input type="text" id="squan" name="squan" placeholder="Enter the quantity sold.."><br><br>

		<label for="cost">Cost</label><br>
    		<input type="text" id="cost" name="cost" placeholder="Enter the cost per piece..."><br><br>

		<label for="bid">Bill ID</label><br>
    		<input type="text" id="bid" name="bid" placeholder="Enter the bill ID..."><br><br>

		<label for="stkid">Stock ID</label><br>
    		<input type="text" id="stkid" name="stkid" placeholder="Enter the stock ID..."><br><br>

    	<input type="submit" value="Update Sale Records" form="sd_form">
  	</form>
  	</center>
</div>
{% endblock %}
